.search-result {
    display: inline-block;
}

.location-search {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.location-search .col {
    padding-right: 0;
}

.search-button {
    padding-left: 5px;
}
