<h2>Weather at the crag</h2>
<div class="row location-search">
    <div class="col">
        <input type="search" 
               placeholder="Search for a location..." 
               id="location-search" 
               class="form-control" 
               (keydown.enter)="searchForLocation()" 
               #locationInput/>
    </div>
    <div class="col search-button">
        <button class="btn btn-primary" (click)="searchForLocation()">Search</button>
    </div>
</div>
<div *ngIf="locationSearchResult" class="search-result">
    <app-outdoor-location-search-result
        [location]="locationSearchResult"
        [isAlreadySaved]="isSearchLocationAlreadySaved">
    </app-outdoor-location-search-result>
</div>
<div class="saved-outdoor-locations">
    <h2>Favourites ({{ savedOutdoorClimbingLocations.length }})</h2>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let location of savedOutdoorClimbingLocations">
            <app-saved-outdoor-location [locationWeather]="location"></app-saved-outdoor-location>
        </div>
    </div>
</div>
