<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{ locationWeather.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row info">
            <div class="col">
                <p>{{ locationWeather.locality }}</p>
                <p>{{ locationWeather.country }}</p>
                <p>{{ locationWeather.postCode }}</p>
            </div>
            <div class="col">
                <p>{{ locationWeather.condition }}</p>
                <p>Temp: {{ locationWeather.temperature }}&deg;C</p>
                <p>Feels-like: {{ locationWeather.feelsLikeTemp }}&deg;C</p>
                <p>Humidity: {{ locationWeather.humidity }}%</p>
                <p>Wind speed: {{ locationWeather.windSpeed }}mph</p>
                <p>Wind direction: {{ locationWeather.windDirection }}</p>
            </div>
        </div>
        <div class="last-updated-at">
            <p><em>Last updated at: {{ locationWeather.lastUpdatedAt | date:'dd/MM/y h:mm a' }}</em></p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="forecast-button" (click)="getWeatherForecasts()" mat-button>Get forecast</button>
        <button class="remove-button" (click)="removeFromFavourites()" mat-button>Remove</button>
    </mat-card-actions>
</mat-card>
