p {
    margin-bottom: 0.5em;
}

.mat-card-header {
    justify-content: center;
    text-align: center;
}

.mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-card-actions {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    padding-top: 0;

}
  
.mat-card-content{
    flex-grow: 1;
}

.forecast-button {
    background: skyblue;
}

.remove-button {
    background: indianred;
    margin-top: 1px;
    color: white;
}

.info {
    margin-bottom: 1.5em;
}
.last-updated-at {
    position: absolute;
    bottom: 3.5em;
}
