.mat-card {
    margin-top: 0.25em;
    margin-bottom: 1em;
}

::ng-deep .mat-card-header-text {
    margin: 0;
}

@media (min-width: 500px) {
    .mat-card {
        width: calc(100% - 20%);
    }
}
