<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{ shop.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-card-subtitle>Address</mat-card-subtitle>
                <div class="row">
                    <div class="col">
                        <div *ngFor="let addressLine of shop.formattedAddress.split(',')">
                            <p>{{ addressLine }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <p>Latitude: {{ shop.geometry.coordinates.latitude }}</p>
                        <p>Longitude: {{ shop.geometry.coordinates.longitude }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <mat-card-subtitle>Info</mat-card-subtitle>
                <div class="row">                
                    <div class="col">
                        <p>Business status: {{ shop.businessStatus }}</p>
                        <p>Average user rating: {{ shop.userRatingAvg }}</p>
                        <p>No. of ratings: {{ shop.userRatingsCount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
