/* /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.root-body {
    height: 40em;
    background-size: cover;
    width: auto;
    background-image: url('./assets/img/background-image.jpg');
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow-y: scroll;
}
