<nav *ngIf="isLoggedIn" class="navbar navbar-expand navbar-light">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Climbing App</a>
        </div>
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="outdoor-climbing" routerLinkActive="active">Outdoor Climbing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="indoor-climbing" routerLinkActive="active">Indoor Climbing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="outdoor-shops" routerLinkActive="active">Shops</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="change-password" routerLinkActive="active">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item log-off" (click)="logOff()">Log Off</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
