.mat-card {
    margin-bottom: 0.75em;
    display: inline-block;
}

::ng-deep .mat-card-header-text {
    margin: 0;
}

.save-button {
    background: darkseagreen;
    color: white;
}

.col.info {
    margin-left: 5em;
    padding-right: 0;
}

@media (min-width: 1000px) {
    .mat-card {
        width: calc(100% - 20%);
    }
}
