<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{ location.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-card-subtitle>Address</mat-card-subtitle>
                <div class="row">
                    <div class="col">
                        <div *ngFor="let addressLine of location.formattedAddress.split(',')">
                            <p>{{ addressLine }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <p>Latitude: {{ location.geometry.coordinates.latitude }}</p>
                        <p>Longitude: {{ location.geometry.coordinates.longitude }}</p>
                    </div>
                </div>
            </div>
            <div class="col info">
                <mat-card-subtitle>Info</mat-card-subtitle>
                <div class="row">                
                    <div class="col">
                        <p>Business status: {{ location.businessStatus }}</p>
                        <p>Average user rating: {{ location.userRatingAvg }}/5</p>
                        <p>No. of ratings: {{ location.userRatingsCount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="save-button" (click)="saveIndoorClimbingLocation()" [disabled]="isAlreadySaved" mat-button>
            Add to favourites
        </button>
    </mat-card-actions>
</mat-card>

