.login-form {
    display: block;
    text-align: center;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    display: inline-block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-control {
    background-color: ghostwhite;
}

form-group {
    margin-bottom: 1em;
}

.form-group.password {
    margin-bottom: 0.5em;
}

label {
    margin-bottom: 0.15em;
}

legend {
    text-align: center;
}

.login-button {
    margin-right: 0.3em;
    margin-left: 1em;
}

.text-danger {
    margin-bottom: 0.5em;
}

@media (min-width: 400px) {
    form {
        width: 400px;
    }
}
