<div class="login-form">
    <form [formGroup]="form">
        <legend>Login</legend>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username" formControlName="username">
        </div>
        <div class="form-group password">
            <label>Password:</label>
            <input type="password" class="form-control" name="password" formControlName="password">
        </div>
        <div class="text-danger" *ngIf="invalidForm">Please enter your username and password</div>
        <div class="text-danger" *ngIf="invalidCredentials">The username or password is incorrect</div>
        <div class="text-danger" *ngIf="usernameAlreadyTaken">This username is already taken - please choose another</div>
        <div class="text-danger" *ngIf="unexpectedError">There was an error carrying out your request - please try again later</div>
        <div class="buttons row">
            <button class="btn btn-primary login-button" (click)="logIn()">Log in</button>
            <button class="btn btn-primary register-button" (click)="register()">Register</button>
        </div>
    </form>
</div>
