<h2>Find your nearest outdoor shops</h2>
<div class="row location-search">
    <div class="col">
        <input type="search" 
               placeholder="Enter a town, city or post code..."
               id="outdoor-shops-search"
               class="form-control"
               (keydown.enter)="findNearestOutdoorShops()"
               #locationInput/>
    </div>
    <div class="col search-button">
        <button class="btn btn-primary" (click)="findNearestOutdoorShops()">Search</button>
    </div>
</div>
<div *ngFor="let shop of nearestOutdoorShops" class="search-result">
    <app-outdoor-shops-search-result [shop]="shop"></app-outdoor-shops-search-result>
</div>
