.weather-forecast-dialog {
    position: relative;
}

.carousel-cell.hourly {
    margin: 0;
    position: absolute;
    top: 20%;
}

.carousel-cell.daily {
    margin: 0;
    position: absolute;
    top: 7.5%;
}

.mat-card {
    background: ghostwhite;
}

.mat-button {
    background: darkgray;
}

.mat-card-header {
    justify-content: center;
    text-align: center;
}

.close-button {
    color: white;
}
