<mat-tab-group class="weather-forecast-dialog">
    <mat-tab label="Hourly">
        <carousel [height]="600">
            <div *ngFor="let forecast of data.hourlyForecastData" class="carousel-cell hourly">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>{{ forecast.timeOfForecast | date:'dd/M &nbsp;&nbsp; ha' }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="4em">
                            <mat-grid-tile>Temp: {{ forecast.temperature }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Condition: {{ forecast.weatherOverview[0].description }}</mat-grid-tile>
                            <mat-grid-tile>Feels-like: {{ forecast.feelsLikeTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Wind speed: {{ forecast.windSpeed }}mph</mat-grid-tile>
                            <mat-grid-tile>Humidity: {{ forecast.humidity }}%</mat-grid-tile>
                            <mat-grid-tile>Wind direction: {{ forecast.windDirection }}</mat-grid-tile>
                            <mat-grid-tile>Cloudiness: {{ forecast.cloudiness }}%</mat-grid-tile>
                            <mat-grid-tile>UV index: {{ forecast.uvIndex }}</mat-grid-tile>
                            <mat-grid-tile>Chance of rain: {{ forecast.chanceOfRain }}%</mat-grid-tile>
                            <mat-grid-tile>Visibility: {{ forecast.visibility }}m</mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>                
            </div>
        </carousel>
    </mat-tab>
    <mat-tab label="Daily">
        <carousel [height]="600">
            <div *ngFor="let forecast of data.dailyForecastData" class="carousel-cell daily">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>{{ forecast.timeOfForecast | date:'EE MMMM d' }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="4em" gutterSize="1em">
                            <mat-grid-tile>Condition: {{ forecast.weatherOverview[0].description }}</mat-grid-tile>
                            <mat-grid-tile>Chance of rain: {{ forecast.chanceOfRain }}%</mat-grid-tile>
                            <mat-grid-tile>Morning: {{ forecast.temperature.morningTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Morning (feels-like): {{ forecast.feelsLikeTemp.morningFeelsLikeTemp }}&deg;C</mat-grid-tile>                            
                            <mat-grid-tile>Day: {{ forecast.temperature.dayTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Day (feels-like): {{ forecast.feelsLikeTemp.dayFeelsLikeTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Evening: {{ forecast.temperature.eveningTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Evening (feels-like): {{ forecast.feelsLikeTemp.eveningFeelsLikeTemp }}&deg;C</mat-grid-tile>
                            <mat-grid-tile>Wind speed: {{ forecast.windSpeed }}mph</mat-grid-tile>
                            <mat-grid-tile>Humidity: {{ forecast.humidity }}%</mat-grid-tile>
                            <mat-grid-tile>Wind direction: {{ forecast.windDirection }}</mat-grid-tile>
                            <mat-grid-tile>Cloudiness: {{ forecast.cloudiness }}%</mat-grid-tile>
                            <mat-grid-tile>UV index: {{ forecast.uvIndex }}</mat-grid-tile>
                            <mat-grid-tile>Visibility: {{ forecast.visibility }}m</mat-grid-tile>
                            <mat-grid-tile>Sunrise: {{ forecast.sunrise | date:'h:mma' }}</mat-grid-tile>
                            <mat-grid-tile>Sunset: {{ forecast.sunset | date:'h:mma' }}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>                
            </div>
        </carousel>
    </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
    <button class="close-button" mat-button (click)="close()">Close</button>
</mat-dialog-actions>
