.change-password-form {
    display: block;
    text-align: center;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 450px;
    display: inline-block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-control {
    background-color: ghostwhite;
}

form-group {
    margin-bottom: 1em;
}

label {
    margin-bottom: 0.25em;
}

.form-group.new-password {
    margin-bottom: 0.5em;
}

legend {
    text-align: center;
}

.text-danger {
    margin-bottom: 0.5em;
}

@media (min-width: 450px) {
    form {
        width: 450px;
    }
}
