<div class="change-password-form">
    <form [formGroup]="form">
        <legend>Change your password</legend>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username" formControlName="username">
        </div>
        <div class="form-group">
            <label>Current password:</label>
            <input type="password" class="form-control" name="current-password" formControlName="currentPassword">
        </div>
        <div class="form-group new-password">
            <label>New password:</label>
            <input type="password" class="form-control" name="new-password" formControlName="newPassword">
        </div>
        <div class="text-success" *ngIf="passwordUpdated">Password updated successfully!</div>
        <div class="text-danger" *ngIf="invalidForm">Please enter your username, current password and desired new password</div>
        <div class="text-danger" *ngIf="invalidCredentials">The username or current password is incorrect</div>
        <div class="text-danger" *ngIf="unexpectedError">There was an error carrying out your request - please try again later</div>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="changePassword()">Update password</button>
        </div>
    </form>
</div>
