<h2>Find your nearest climbing centres</h2>
<div class="row location-search">
    <div class="col">
        <input type="search" 
               placeholder="Enter a town, city or post code..."
               id="location-search"
               class="form-control"
               (keydown.enter)="findNearestClimbingCentres()"
               #locationInput/>
    </div>
    <div class="col search-button">
        <button class="btn btn-primary" (click)="findNearestClimbingCentres()">Search</button>
    </div>
</div>
<div *ngFor="let centre of nearestClimbingCentres" class="search-result">
    <app-indoor-location-search-result [location]="centre"></app-indoor-location-search-result>
</div>
<div class="saved-indoor-locations">
    <h2>Favourites ({{ savedClimbingCentres.length }})</h2>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let centre of savedClimbingCentres">
            <app-saved-indoor-location [location]="centre"></app-saved-indoor-location>
        </div>
    </div>
</div>
