<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{ location.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-card-subtitle>Address</mat-card-subtitle>
                <div class="row">
                    <div class="col">
                        <div *ngFor="let addressLine of location.formattedAddress.split(',')">
                            <p>{{ addressLine }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <p>Latitude: {{ location.weather.coordinates.latitude }}</p>
                        <p>Longitude: {{ location.weather.coordinates.longitude }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <mat-card-subtitle>Current Weather</mat-card-subtitle>
                <div class="row">                
                    <div class="col">
                        <p>Condition: {{ location.weather.weatherOverview[0].description }}</p>
                        <p>Temperature: {{ location.weather.weatherMetrics.temperature }}&deg;C</p>
                        <p>Feels-like: {{ location.weather.weatherMetrics.feelsLikeTemp }}&deg;C</p>
                        <p>Humidity: {{ location.weather.weatherMetrics.humidity }}%</p>
                        <p>Visibility: {{ location.weather.visibility }}m</p>
                    </div>
                    <div class="col">
                        <p>Wind speed: {{ location.weather.windInfo.windSpeed }}mph</p>
                        <p>Wind direction: {{ location.weather.windInfo.windDirection }}</p>
                        <p>Sunrise: {{ location.weather.daylightInfo.sunrise | date:'d/M/y, h:mm a' }}</p>
                        <p>Sunset: {{ location.weather.daylightInfo.sunset | date:'d/M/y, h:mm a' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="save-button" (click)="saveOutdoorClimbingLocation()" [disabled]="isAlreadySaved" mat-button>
            Add to favourites
        </button>
        <button class="forecast-button" (click)="getWeatherForecasts()" mat-button>
            Get forecast
        </button>
    </mat-card-actions>
</mat-card>
