.mat-card {
    margin-top: 0.25em;
    margin-bottom: 1em;
}

::ng-deep .mat-card-header-text {
    margin: 0;
}

.save-button {
    background: darkseagreen;
}

.forecast-button {
    background: skyblue;
}
