p {
    margin-bottom: 0.5em;
}

.mat-card-header {
    justify-content: center;
    text-align: center;
}

.mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.mat-card-content{
    flex-grow: 1;
}

.remove-button {
    background: indianred;
    color: white;
}
