<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{ location.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <p>{{ location.locality }}</p>
                <p>{{ location.county }}</p>
                <p>{{ location.country }}</p>
                <p>{{ location.postCode }}</p>
            </div>
            <div class="col">
                <p>Lat/long:</p>
                <p>{{ location.latitude }}, {{ location.latitude }}</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="remove-button" (click)="removeFromFavourites()" mat-button>Remove</button>
    </mat-card-actions>
</mat-card>
